# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
ENV/

# Archivos de configuración de VS Code
.vscode/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de salida
*.out
*.o
*.exe